<h1><%= t('editing.coin') %>></h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to t('showing.coin'), @coin, class: "btn btn-primary btn-lg" %> |
  <%= link_to t('links.back'), coins_path, class: "btn btn-primary btn-lg" %>
</div>
